.noga {
    background-color: #B3E9E7;
    width: 100%;
    color: #12949B;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin-top:20px;
    position: relative;
    left:0;
    bottom:0;
    right:0;
}
