.leaflet-container{
    width: 60vw;
    height: 80vh
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    /* this makes sure the padding and the border is included in the box sizing */
    box-sizing: border-box;
    
  }
  
  html body {
    padding: 0;
    margin: 0;
    overflow-y: inherit;
  }
  
  a:hover {
    color: 	#320ff5;
  }
